# Intellij
.idea

## Directory for compiled source code
bin
out
output
target

# Hidden files
**/.DS_Store
**/Thumbs.db

# Locked or cached files
**/*.~log*
**/*.lock
**/*.tmp
**/*.dia~

# Generarted tex-files from pandoc
**/*.tex

